{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <img class="img" src="{{asset("images/" ~ product.image)}}">
            <h5 class="text-center">{{ product.price }} Euros </h5>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
            <a href="#">{{ product.productName }}</a>
            <p>Les plus :</p>
            <ul>
                <li>{{ product.carac1 }}</li>
                <li>{{ product.carac2 }}</li>
                <li>{{ product.carac3 }}</li>
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-100 mb-100">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-primary">Trier par date</a>
                    <a class="btn btn-primary">Trier par note</a>
                    <a class="btn btn-primary">Filtrer par note</a>
                </div>
                <div class="comment-widgets">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                            <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                        </div>
                    </div> <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text active w-100">
                            <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
                            <div class="comment-footer"> <span class="text-muted float-right">May 10, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                        </div>
                    </div> <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                            <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                        </div>
                    </div>
                </div> <!-- Card -->
            </div>
        </div>
    </div>
    
</div>
<footer class="py-5 bg-dark">
    <div class="container">
    <p class="m-0 text-center text-white">Réalisé par Youssef Moudni</p>
    </div>
</footer>
{% endblock %}
