{% extends 'base.html.twig' %}

{% block title %}Products list{% endblock %}


{% block body %}

<div class="container">
  <h1 class="text-center title-main">{% block monTitre %}Liste des produits en vente{% endblock %}</h1>
  <div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card border-info h-100" style="border: 1px solid #333333;">
        <a href="{{path('product', {'id' : product.id })}}"><img class="card-img-top"
            src="{{asset("images/" ~ product.image)}}"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{path('product', {'id' : product.id })}}">{{ product.productName }}</a>
          </h4>
          <h5>{{ product.price }} €</h5>
        </div>
        <div class="card-footer">
          Nombre de commentaires : {{ product.comments | length}}
          {% set average = 0 %}
          {% for arrayComment in product.comments %}
          {% set average = average + arrayComment.rating %}
          {% endfor %}
          <p>Note du produit : </p>
          <div class="comment_rating" data-rateyo-rating="{{ average / product.comments | length}}"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row navigation">
    <div class="w-90 mx-auto">
      <div>
        {{ knp_pagination_render(products) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}